<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alphacr.theredjournal">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Contact Us -->
        <activity
            android:name=".Contact_Us"
            android:label="Contact Us"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>


        <!-- Register -->
        <activity
            android:name=".Register"
            android:label="@string/register"
            android:launchMode="singleTop"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <!-- Forgot Password -->
        <activity
            android:name=".ForgotPassword"
            android:label="Forgot Password"
            android:launchMode="singleTop"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <!-- Change Password -->
        <activity
            android:name=".ChangePassword"
            android:label="Change Password"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>

        <!-- Donor's Guide -->
        <activity
            android:name=".DonorsGuide"
            android:label="New Donor&apos;s Guide"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>

        <!-- Maps Stuff -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>

        <!-- User Profile -->
        <activity
            android:name=".UserProfile"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- Edit Profile -->
        <activity
            android:name=".EditProfile"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".request_blood"
            android:label="Request Donation"
            android:launchMode="singleTop" />
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTop"
            android:label="The Red Journal"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".donation_history"
            android:label="The Red Journal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HistoryDetails"></activity>
    </application>

</manifest>