<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alphacr.theredjournal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:label="The Red Journal"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Contact Us -->
        <activity
            android:name=".Contact_Us"
            android:label="Contact Us"
            android:parentActivityName=".HomePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage" />
        </activity>

        <!-- Home Page -->
        <activity
            android:name=".HomePage"
            android:label="The Red Journal"
            android:launchMode="singleTop" />

        <!-- Register -->
        <activity
            android:name=".Register"
            android:label="@string/register"
            android:launchMode="singleTop"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <!-- Forgot Password -->
        <activity android:name=".ForgotPassword"
            android:launchMode="singleTop"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <activity android:name=".ChangePassword" />
        <activity
            android:name=".DonorsGuide"
            android:label="New Donor's Guide"
            android:parentActivityName=".HomePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage" />
        </activity>
    </application>

</manifest>